h1{
    color: #CD88CC;
    font-family: baileywick-jf-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 30px;
}


#header{
    width: 50vw;
}

img.tooltip{
  float:right;
}

.blurred{
    background-image: url('imgs/backgroundfooter.jpg');
    float: left;
    height: 250px;
    box-shadow: 0 0 8px 8px #8cBBD3 inset;
    width:100%;
    position: absolute;
    bottom:0;
}

/* Navigation Bar */

.body{
    margin-top: 50px;
    overflow: hidden;
}
nav{
    float: right;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 30px;
    font-family: baileywick-jf-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 
  /* Awards Page */
.rankings{
    text-align: center;
    align-content: center;
    list-style-position: inside;
    list-style-type: "⭐ ";
    }